
$navBg: #440A67;
$modalHdrBg: #B4AEE8;
$modalBodyBg: #FFE3FE;
$aboutUsBg:#93329E;
$galleryBg:#B4AEE8;
$bgWhite:white;
$contactFont:#5c00ce;
$blackFontClr:black;
$shadow: 12px 12px 12px 12px rgba(90, 90, 100, 0.233);

nav.black {
  background: $navBg
}
.carousel-inner {
  img {
      width: 100%;
      height: 100vh;
  }
}

.loginHeader {
  background-color: $modalHdrBg;
  color: $navBg;
}
.loginBody{
  background-color: $modalBodyBg;
}
.loginFooter{
  background-color: $modalHdrBg;
}


.regHeader {
  background-color: $modalHdrBg;
  color: $navBg;
}
.regBody{
  background-color: $modalBodyBg;
}
.regFooter{
  background-color:  $modalHdrBg;
}
#aboutus{
// background-color: $aboutUsBg;
img{
  height: 30rem;
  border-radius: 3vh;
}

}


#gallery{
 
    margin: 2vh;
    img{
      border-radius: 3vh;
      box-shadow: $shadow;
    }
   
  background-color: $galleryBg;
  .heading{
    color: $navBg;
  }
}


.contact__address .section-title {
	margin-bottom: 10px;
}

.contact__address .section-title h2 {
	text-transform: none;
}

.contact__address p {
	margin-bottom: 34px;
}

.contact__address ul li {
	list-style: none;
	padding-left: 100px;
	position: relative;
	margin-bottom: 30px;
}

.contact__address ul li:last-child {
	margin-bottom: 0;
}

.contact__address ul li i {
	font-size: 30px;
	height: 70px;
	width: 70px;
	background: $bgWhite;
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	color: $contactFont;
	position: absolute;
	left: 0;
	top: -4px;
}

.contact__address ul li h5 {
	font-size: 20px;
	color: $blackFontClr;
	font-weight: 700;
	margin-bottom: 10px;
}

.contact__address ul li p {
	margin-bottom: 0;
}

.contact__address ul li span {
	font-size: 15px;
	color: $blackFontClr;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.contact__address ul li span:after {
	position: absolute;
	right: -20px;
	top: -1px;
	content: ".";
	font-size: 39px;
	line-height: 0;
	border-radius: 50%;
}

.contact__address ul li span:last-child {
	margin-right: 0;
}

.contact__address ul li span:last-child:after {
	display: none;
}

.contact__form .section-title {
	margin-bottom: 10px;
}

.contact__form .section-title h2 {
	text-transform: none;
}

.contact__form p {
	margin-bottom: 34px;
}

@media (min-width: 600px) {

	#contact{
		
	}
}

@import "footer";
